<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
<nav class="red lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            Logo
        </a>
        <ul class="right hide-on-med-and-down">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Forms Test", "FormsTest", "Home")</li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Forms Test", "FormsTest", "Home")</li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="mdi mdi-menu"></i>
        </a>
    </div>
</nav>
<main>
    <div class="container">
        @RenderBody()
    </div>
</main>

    <footer class="page-footer red lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#">More Links</a>
            </div>
        </div>
    </footer>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/materialize")
@Scripts.Render("~/bundles/scripts")

@RenderSection("scripts", required: false)
</body>
</html>